.App {
  text-align: center;
}

#container {
  text-align: center;
}

#header {
  font-size: 60px;
  font-weight: bold;
  padding: 40px;
}

#find {
  display: block;
  margin: 20px 145px 0 0;
}

.Dropdown-root {
  float: right;
  margin-right: 24px;
  width: 10%;
}

.MuiCardContent-root {
  padding: 15px !important;
}
