.App {
  text-align: center;
}

#container {
  text-align: center;
}

#header {
  font-size: 60px;
  font-weight: bold;
  padding: 40px;
}

#find {
  display: block;
  margin: 20px 145px 0 0;
}

.Dropdown-root {
  float: right;
  margin-right: 24px;
  width: 10%;
}

.MuiCardContent-root {
  padding: 15px !important;
}

.filter-label {
  float: right;
  padding: 8px 20px 8px 10px;
}

.sort-label {
  float: right;
  padding: 8px 20px 8px 30px;
}

.search-label {
  float: right;
  padding: 8px 20px 8px 30px;
}

#search {
  float: right;
  padding: 8px 10px 6px 10px;
  font-size: 16px;
  outline-width: 0;
}

::placeholder {
  color: #333333;
  font-size: 16px;
}

.headshot:hover {
  -webkit-transform: scaleX(-1);
  cursor: pointer;
  transform: scaleX(-1);
  margin: 0;
}

.react-hooks-paginator {
  justify-content: flex-end !important;
  float: right;
  margin: 0 24px 0 -30px;
}

.page-link {
  padding: 10px 12px 10px 12px !important;
}

#bottom-paginator {
  padding: 30px 0 0 0;
  margin-right: 44%;
}