.App {
  text-align: center;
}

#container {
  text-align: center;
}

#header {
  font-size: 60px;
  font-weight: bold;
  padding: 40px;
}

#find {
  display: block;
  margin: 20px 145px 0 0;
}

.Dropdown-root {
  float: right;
  margin-right: 24px;
  width: 10%;
}

.MuiCardContent-root {
  padding: 15px !important;
}

.find-label {
  float: right;
  padding: 8px 20px 8px 10px;
}

.headshot:hover {
  -webkit-transform: scaleX(-1);
  cursor: pointer;
  transform: scaleX(-1);
  margin: 0;
}
