.App {
  text-align: center;
  padding: 20px 0 0 0;
}

#header {
  font-size: 40px;
  font-weight: bold;
  /* padding: 20px 0 20px 170px; */
  padding: 30px 0 26px 80px;
  font-family: 'Cinzel', serif;
}

#header.shadow {
  -webkit-box-shadow: 0 3px 0 rgba(174, 181, 189, 0.3);
  -moz-box-shadow: 0 3px 0 rgba(174, 181, 189, 0.3);
  box-shadow: 0 3px 0 rgba(174, 181, 189, 0.3);
  width: 100%;
}

#subheader {
  margin: 62px 0 0 0;
}

.page-item.active .page-link {
  background-color: rgb(105, 144, 167) !important;
  border-color: rgb(105, 144, 167) !important;
}

#find {
  display: block;
  margin: 20px 145px 0 0;
  background-color: #fff;
  padding: 0 0 30px 0;
}

.Dropdown-root {
  float: right;
  margin-right: 24px;
  width: 10%;
}

#blue {
  color: darkblue;
}

#red {
  color: crimson;
}

#sticky {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 0 0 20px 0;
}

.paginator-div {
  height: 50px;
  margin: 40px 0 0 0;
}

.MuiCardContent-root {
  padding: 15px !important;
}

.filter-label {
  float: right;
  padding: 8px 20px 8px 10px;
}

.sort-label {
  float: right;
  padding: 8px 20px 8px 30px;
}

.search-label {
  float: right;
  padding: 8px 20px 8px 30px;
}

#search {
  float: right;
  padding: 8px 10px 6px 10px;
  font-size: 16px;
  outline-width: 0;
}

#search-div {
  float: left;
  padding: 0 0 0 140px;
}

::placeholder {
  color: #333333;
  font-size: 16px;
}

.headshot:hover {
  -webkit-transform: scaleX(-1);
  cursor: pointer;
  transform: scaleX(-1);
  margin: 0;
  z-index: 0;
}

#no-results {
  font-size: 30px;
  margin: 0 0 40px 0;
}

#reset {
  font-size: 20px;
}

.react-hooks-paginator {
  /* margin: 24px 24px 0 24px; */
  padding: 0 !important;
  margin: 0 !important;
}

.page-link {
  padding: 10px 12px 10px 12px !important;
}

#bottom-paginator {
  padding: 30px 0 0 0;
}